@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+SC");

:root {
    --main-font: "Poppins";
    --main-font-cn: HelveticaNeue, Arial;
    --smooth-shadow: 5px 5px 30px #a8a8a8;
    --color-front: rgb(255, 255, 255);
    --color-back: rgb(14, 14, 14);
    --color-back-op: rgba(14, 14, 14, 0.8);
    --color-back-alt: rgb(20, 20, 20);
}

.font-cn {
    font-family: var(--main-font-cn);
}

.container-fluid {
    width: 100%;
    max-width: 800px;
    padding: 0 30px;
}

.content {
    color: var(--color-front);
    background-color: var(--color-back-op);
}

#content-frontpage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--color-back);
    animation: fadeBackground 1s linear;
    animation-fill-mode: forwards;
    animation-delay: 0.5s;
}

#content-project {
    padding: 100px 50px;
}

.videoWrapper video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -999;
    filter: brightness(0.3) saturate(0);
}

.content-inner {
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    padding: 60px 50px;
}

/* ------------------------- MODIFICATION TO SOME DEFAULT ELEMENT -------------------------- */

body {
    font-family: var(--main-font);
    color: var(--color-front);
    background: var(--color-back);
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

hr {
    width: 90%;
}

h1 {
    font-family: var(--main-font);
    font-weight: 600;
    font-size: 7rem;
    line-height: normal;
}

h2 {
    font-size: 3rem;
}

p {
    margin: 30px 0;
}

.main_title {
    margin: 30px 0;
}

.header_under {
    height: 80px;
}

.header_tab {
    transition: all.3s;
}

.header_tab:hover {
    cursor: pointer;
}

.header_tab:hover .header_tab_label {
    color: #eee;
}

.header_tab:hover .header_tab_btn {
    opacity: 1;
}

.header_tab_label {
    transition: all.5s;
}

.header_tab_btn {
    transition: all.5s;
    opacity: 0;
}

.header_tab_btn i {
    font-size: 8rem;
    font-weight: 100;
}

#content-inner h1 {
    font-size: 40px;
    padding: 20px;
}

#img_logo {
    min-width: 500px;
    /* opacity: 0.8; */
}

.content-inner-proj {
    display: inline-block;
    margin: 20px 30px;
}

article {
    margin: 50px 0;
    display: block;
    font-size: 17px;
}

.footer {
    color: var(--color-front);
    font-size: 8px;
    text-align: center;
    height: 300px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    padding: 30px;
    background-color: var(--color-back-op);
}

/* ------------------------ TOP BAR ------------------------ */

.header {
    display: flex;
    justify-content: space-between;
    height: 180px;
    align-items: center;
    z-index: 99999;
    position: fixed;
    width: 100vw;
    padding: 5px 60px;
    background-color: transparent;
    transition: background 0.5s, height 0.5s;
}

.button-area,
.link-area {
    display: flex;
    align-items: center;
}

.header h5 {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 16px;
    transition: all 0.1s ease;
}

.header a {
    color: #436ea5;
    text-decoration: none;
}

.head_btn {
    text-align: center;
    font-size: 18px;
    padding: 0 30px;
    border-radius: 4px;
    height: 100%;
    color: var(--color-front);
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    transition: all 0.1s ease;
}

.head_btn:hover {
    filter: brightness(90%);
    cursor: pointer;
}

.head_btn_smltxt {
    font-family: var(--main-font);
    font-size: 18px;
    font-weight: 800;
    margin-bottom: -3px;
}

.head_btn_cntxt {
    font-family: var(--main-font-cn);
    font-weight: bold;
    font-size: 18px;
}

.head_btn_links {
    color: var(--color-front);
    margin-top: 20px;
    height: 50%;
    padding: 5px;
    padding-bottom: 33px;
}

.head_btn_links a {
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    transition: all 0.1s ease;
    color: var(--color-front);
}

.head_btn_links:hover a {
    filter: brightness(80%);
}

.my_btn {
    font-family: var(--main-font);
    color: var(--color-front);
    font-size: 15px;
    padding-top: 5px;
    padding-bottom: 2px;
    border-radius: 1px;
    /*background: #d7d7d7;*/
    height: 30px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    transition: background 0.1s ease;
}

.my_btn:hover {
    color: #0e2846;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

/* ----------------------- Section - Design ------------------------- */

.design_profile {
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
}

/* ----------------------- Section - Project  ------------------------- */

/* Logo Animation */

/* Css Stylesheets for Project Page*/

.thumbnail_proj {
    transition: all 0.2s ease-in-out;
    border-radius: 35px;
    margin: 40px 10px;
}

.thumbnail_proj:hover {
    transform: scale(1.05);
    filter: brightness(105%);
    cursor: pointer;
}

.thumbnail_proj_label {
    margin-top: 5px;
    font-size: 13px;
}

/* Animation */

/* Responsive Settings */

@media screen and (min-width: 700px) and (max-width: 1200px) {
    h1 {
        font-size: 4rem;
    }
}

@media screen and (max-width: 700px) {
    .videoWrapper video {
        display: none;
    }
    .header {
        padding: 0 30px;
        align-items: center;
    }
    .head_btn {
        padding: 0 5px 0 5px;
    }
    .head_btn_cntxt {
        display: none;
    }
    .head_btn_smltxt {
        font-size: 12px;
    }
    .content h1 {
        font-size: 2.5rem;
        text-align: left;
    }
    #img_logo {
        min-width: 400px;
    }
}

@keyframes myframes {
    50% {
        transform: translate(0px, 10px);
    }
}

@keyframes fadeBackground {
    0% {
        background-color: var(--color-back);
    }
    100% {
        background-color: transparent;
    }
}

/* ----------------------- Shared  ------------------------- */
._flexbox_center {
    display: flex;
    justify-content: center;
    align-items: center;
}
._flexbox_center {
    display: flex;
}
._flexbox_between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
._text_center {
    text-align: center;
}
