.slider .inner-wrapper {
    overflow: hidden;
    width: 500px;
    height: 500px;
    border-radius: 40px;
}

.slider .inner-wrapper-inner-rotate {
    transform: translate3d(-80px, -30px, 0) rotate(-15deg);
}

.slider .slideshow {
    width: 800px;
    height: 200px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
}

.slider .slideshow .row {
    display: flex;
    flex-wrap: nowrap;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate3d(0, 0, 0);
}

.slider .slideshow .row .appicon {
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 180px;
    width: 180px;
    border: #333 1px solid;
    background-color: #eee;
    border-radius: 30px;
    background-size: 105%;
    background-position: center;
    transition: 0.6s;
    filter: grayscale(100%) brightness(90%);
}

.slider .slideshow .row .appicon:hover {
    transform: scale(1.05);
    filter: grayscale(0%) brightness(100%);
    z-index: 999;
}

.slider .slideshow .mover {
    animation: moveSlideshow 25s linear infinite;
}

@keyframes moveSlideshow {
    100% {
        transform: translateX(-50%);
    }
}

@media screen and (max-width: 700px) {
    .slider .inner-wrapper {
        width: 100vw;
        border-radius: 0;
    }
}
